table.link-table {
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.link-table td,
table.link-table th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 8px;
}
